.name-field {
  display: grid;
  height: 4rem;
  justify-content: left;
  text-align: left;
  margin-left: 2rem;
}

.name-field .email {
  line-height: 0;
  margin-top: -10px;
  font-size: 12px;
}

.status-field {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  margin: 12px 3px;
}

.role-field {
  display: flex;
  width: 25%;
  height: 25px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 12px;
}

.action-field {
  display: flex;
  margin-top: 10px;
  font-size: 12px;
  color: "#818f9a";
}

.action-field .action-button {
  display: flex;
  color: rgb(129, 143, 154);
  margin-inline: 2rem;
  gap: 5px;
  cursor: pointer;
}
